<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">카드 구매 방법 </h3>

			<p>카드 구매 원하시면 PBOX 번개장터점 통해 안전결제 부탁드립니다. </p>
			<p>안전 결제 수수로 0원 + 대한통운 무료 배달 </p>

		</div>



		<div class="self-center flex flex-col w-full md:w-2/5">

			<form class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4">

				<!--input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="text" placeholder="Email..."-->

				<button class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white">PBOX 번개장터</button>

			</form>
		</div>
		
	</div>

</div>